/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
/* ============= */

/* Reset styles */
@import "normalize.css";
/* ============= */

:root[data-theme="light"] {
	--background-color: #F4ECE1;
	--header-color: #F4ECE1;
	--accent-color: #FF7E00;
	--divider-color: #948C8C4F;
	--count-buys-color: #f5f6f7;
	--count-color: #EC2633;
	--secondary-color: #2F2F2F;
	--play-button-color: #FFF8F0;
	--tizer-color: #909090;


	--footer-color: #bab3b1;
	--footer-color--text: #d1d1d1;
	--right-color: #868180;
	--link-color: #242424;
	--shops-color: linear-gradient(122deg, rgba(245, 119, 106, 1) 4%, rgba(255, 186, 89, 1) 45%);
	--text-color: #212121;
}

:root[data-theme="dark"] {
	--background-color: #242424;
	--header-color: #333;
	--footer-color: #333;
	--footer-color--text: #ccc;
	--right-color: #444;
	--link-color: #bbe903;
	--accent-color: #fd239d;
	--shops-color: linear-gradient(122deg, rgba(12, 79, 86, 1) 4%, rgba(17, 114, 124, 1) 45%);
	--text-color: #f5f6f7;
	--count-buys-color: #212121;
}

html, body {
	height: 100%;
}

#root {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	background-color: var(--background-color);
	transition: all 0.3s ease;
}

a {
	text-decoration: none;
	color: var(--text-color);
}


